
@{
    ViewBag.Title = "Class 与 Style 绑定";
}

<div id="app">
    <h2>{{title}}</h2>
    <div v-bind:class="{active:isActive}">
        <h2>测试对象绑定</h2>
    </div>
    <div class="static" v-bind:class="{active:isActive,'text-danger':hasError}">
        <h2>测试同时存在</h2>
    </div>

    <div v-bind:class="classObj">
        <h2>测试使用data中的对象</h2>
    </div>

    <div v-bind:class="classObject">
        <h2>测试使用计算属性</h2>
    </div>
    <div >
        <input type="text" name="demo" v-demo="testdirect"  v-bind:value="testdirect"/>
        <input type="text"  name="name" v-demo-brief="testdirect" v-bind:value="testdirect"/>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                classObj: {
                    container: true,
                    'col-lg-6': true,
                },
                title: 'Class 与 Style 绑定',
                isActive: true,
                hasError: false,
                classType: 2,
                testdirect:0,
            },
            computed: {
                classObject: function () {
                    return {
                        hide: this.classType === 1,

                    };
                }
            },
            directives: {
                demo: {
                    bind: function (el, binding) {
                        if (binding.value <= 0) {
                            console.log('bind')
                            el.value = '';
                        }
                    },
                    update: function (el, binding) {
                        console.log('update:el.value=' + el.value);
                        if (binding.value <= 0)
                        {
                            console.log('update')
                            el.value = '';
                        }
                       
                    }
                },
                demoBrief: function (el, binding) {
                    if (binding.value <= 0) {
                        console.log('demoBrief')
                        el.value = '';
                    }
                }
            }
        });

    </script>


}
