
@{
    ViewBag.Title = "Condition";
}

<h2>条件渲染</h2>
<div id="app">
    <div>
        <p v-if="bookType">代码大全</p>
        <p v-else>精通ASP.NET</p>
    </div>
    <div>
        <template v-if="template">
            <a>abcd</a>
            <p>abcd</p>
        </template>
        <template v-else>
            <a>bbbb</a>
            <p>bbbbb</p>
        </template>
    </div>
    <div>
        手机
        <p v-if="phone=='cuizi'">锤子</p>
        <p v-else-if="phone=='apple'">苹果</p>
        <p v-else-if="phone=='huawei'">华为</p>
        <p v-else>其他</p>
    </div>
    <div>
        <select>
            <option v-for="(item,index) in address">
                {{index}}-{{item}}
            </option>
        </select>
        <ul>
            <li v-for="item in address">{{item}}</li>
        </ul>
        <template v-if="loginType==='userName'">
            <label>Username</label>
            <input placeholder="Enter your username" key="userlogin">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email" key="emaillogin">
        </template>
    </div>
    <div>
        <ol>
            <template v-for="item in address">
                <li>{{item}}</li>
                <li>{{item}}</li>
            </template>
        </ol>
        <div>
            <ul>
                <li v-for="(value,key,index) in $data">{{value}}-{{key}}-{{index}}</li>
            </ul>
        </div>
        <ul>
            <li v-for="item in 10">{{item}}</li>
        </ul>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                bookType: 1,
                template: true,
                phone: 'cuizi',
                address: ['上地', '六里桥', '国家图书馆'],
                loginType: 'userName'
            }
        });
    </script>

}

