
@{
    ViewData["Title"] = "Index";
}


<div id="app">
    {{message}}
    <br />
    <span v-bind:title="title">
        鼠标放在这里试试
    </span>
    <br />
    <div v-if="show">
        你能看见我
    </div>

    <div>
        <select>
            <option>全部</option>
            <option v-for="city in citys" v-bind:value="city.id">{{city.cityName}}</option>
        </select>
    </div>

    <div>
        <p>{{userInput}}</p>
        <button v-on:click="reverseMessage">翻转文字</button>
    </div>

    <div>
        <p>{{learn_v_model}}</p>
        <input type="text" name="name" v-model="learn_v_model" />
    </div>

    <div>
        <ol>
            <todo-item></todo-item>
        </ol>
    </div>
    <div>
        <ol>
            <todo-item-param 
                             v-for="item in groceryList"
                             v-bind:todo="item"
                             v-bind:key="item.id"
                             >
            </todo-item-param>
        </ol>
    </div>
</div>

<script type="text/javascript">
    Vue.component('todo-item',{
            template:'<li>这是个待办项</li>',
        });

    Vue.component('todo-item-param',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    });

    var app = new Vue({
        el: '#app',
        data: {
            groceryList:[
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便其他什么人吃的东西' }
            ],
            message:'世界好！',
            title: '页面加载于：' + new Date(),
            show: true,
            citys: [
                { id: 1, cityName: '北京' },
                { id: 2, cityName: '上海' },
                { id: 3, cityName: '石家庄' },
                { id: 4, cityName: '香港' },
            ],
            userInput: '大家好！',
            learn_v_model:'学习vue',
        },
        methods: {
            reverseMessage: function () {
                this.userInput = this.userInput.split('').reverse().join('');
            }

        },

    });


</script>